*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}
.loginmain{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url(../../../assets/Images/redbricks.jpg);;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
  width: 320px;
  height: 420px;
  position: relative;
  margin: 10% auto;
  background:linear-gradient(rgba(242,242,242,0.9),rgba(242,242,242,0.9));
  padding: 0px;
  overflow: hidden;
  border-radius: 25px;
}


.button-box{
  width: 220px;
  margin: 52px auto;
  position: relative;
  box-shadow: 0 0 2px 2px rgba(99, 9, 9, 0.589);
  border-radius: 25px;
  color: black;
  font-weight: 300;

}
.toggle-btn{

  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: black;
  font-weight: 800;
}

#btn{
  top:0;
  left:0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,blue,red);
  border-radius: 30px;
  transition: .5s;

}

.login-Form{

  top:135px;
  position: absolute;
  width: 220px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid rgba(99, 9, 9, 0.589);
  outline: none;
  background: transparent;
  color: black;
  font-weight: 900;
}
.logbtn{

  width: 85%;
  padding: 10px 30px ;
  cursor: pointer;
  display: block;
  margin: 50px auto;
  background: linear-gradient(to right,blue,red);
  border :0;
  outline: none;
  border-radius: 30px;
  letter-spacing: 1px;
  color: black;
  font-weight: 800;
}

span{

  color: #777  ;
  font-size: 14px;
  padding: 10px 10px ;

}

#login{
  left:50px;
  

}
#signin{
  left:450px;
  

}
.form-box {

    filter: blur(0.4px);
    box-shadow:
    /*bottom shadow*/
    0px 20px 20px rgba(136, 135, 135, 0.2),
    0px 5px 10px rgba(63, 62, 62, 0.2),
    /*long bottom shadow*/
    0px 70px 50px rgba(99, 98, 98, 0.2),
    /*right shadow*/
    30px 50px 50px rgba(114, 113, 113, 0.2),
    /*left shadow*/
    -30px 50px 50px rgba(94, 93, 93, 0.2),
    /*right inset*/
    inset 20px 0px 60px rgba(105, 104, 104, 0.1),
    /*left inset*/
    inset -20px 0px 60px rgba(63, 63, 63, 0.1);
}  
::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: rgb(63, 20, 20);
  font-size: 18px;
  font-weight: 600;
}
