body
{
margin: 0;
padding: 0;

}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 0;
}
.navbar-brand img
{
    height: 32px;
    padding-left: 825px;
    background: transparent;
    
}
.navbar-nav li
{
padding: 0 0px;
}
.navbar-nav li a
{
float: right;
text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;

}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-size: 13px;
    
    font-weight:bolder;
    letter-spacing: 1px;
    font-family: kanit;
}

/*---searchbox--*/

.search-box{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    background: lightgrey;
    height: 30px;
    border-radius: 30px;
    padding: 0px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: #03478f;
}
.search-btn{
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}
.search-txt {

    border: none;
    background: none;
    outline: none;
    float: left;
    padding-top: 5px;
    padding:2px;
    color: gray;
    font-size: 16px;
    transition: 0.6s;
    line-height: 16px;
    width: 0px;

}