
<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" ><img src="../../../assets/Images/Asbl icon.png"></a>
      <a class="navbar-brand" ><img src="../../../assets/Images/1.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="search-box">
          <input class="search-txt" type="text" name="" placeholder="what are you looking for?">
          <a class="search-btn" href="#"></a>
          <i class="fa fa-search"></i>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="Home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#test">Contact</a>
          </li>
          <li class="nav-item">
              <button type="button" onclick="document.location='/login'" class="btn btn-primary">sign up</button>
            </li>
        </ul>
      </div>
    </nav>
  </section>

<router-outlet></router-outlet>
