<div class="testbox">
 <form  class="TreeForm"action="/">
      <div class="banner">
        <h1>Project Data Model</h1>
      </div>
  
     <form #towerForm="ngForm" (ngSubmit)="Towernames(towerForm)" class="TowersForm">
      <div class="city-item">
        <p>No of Towers</p>
        <input id="TowerNo" type="number" name="TowerNo" ngModel placeholder="No of Towers" required="" #TowerNo="ngModel" >
        <p>No of Basements</p>
        <input id="BasementNo" type="number" name="BasementNo" ngModel placeholder="No of Basements"  required="" #BasementNo="ngModel">
        <p>No of Floors</p>
        <input id="FloorNo" type="number" name="FloorNo" ngModel placeholder="No of Floors" required="" #FloorNo="ngModel" >
        <button type="submit">Submit</button>
        </div>
     </form>
    <!--
     <input type="checkbox" (change)="selectedtowername($event)"id="towernocheckbox" >
     <input type="checkbox" (change)="selectedtowername($event)" id="toweraplhacheckbox" >
     <input type="checkbox" (change)="selectedtowername($event)" id="newElementIdcheckbox" >
     -->
     <span id="towerno" class="a">
     <li *ngFor="let towerno of  TowersnameNo">
      {{ towerno }}
     </li>
     </span>

   <span  id="toweraplha"class="a">
    <li *ngFor="let toweraplha of  Towersnamealpha">
      {{ toweraplha }}
    </li>
  </span>

  
  
</form>


    
   
</div>
    

 