<div class="testbox">
 <form  class="TreeForm"action="/">
      <div class="banner">
        <h1>Project Data Model</h1>
      </div>
  
     <form #F="ngForm" (ngSubmit)="Towernames(F)" class="TowersForm">
      <div class="city-item">
        <p>No of Towers</p>
        <input type="text" name="TowerNo" ngModel placeholder="No of Towers" required="" >
        <p>No of Basements</p>
        <input type="text" name="BasementNo" ngModel placeholder="No of Basements"  required="" >
        <p>No of Floors</p>
        <input type="text" name="FloorNo" placeholder="No of Floors" required="" >
        <button type="submit">Submit</button>
        </div>
     </form>


   
</form>


    
   
</div>
    

 